{% extends 'base.html' %}

{% block content %}

    <form>
{#      <label for="fname">First name:</label><br>#}
{#      <input type="text" id="fname" name="fname"><br>#}
{#      <label for="lname">Last name:</label><br>#}
{#      <input type="text" id="lname" name="lname">#}
{#      <button type="submit">Search</button>#}

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">First or last name</span>
      </div>
      <input type="text" class="form-control" placeholder="Search..." aria-label="Username" aria-describedby="basic-addon1" name="search">
      <button type="submit" class="btn btn-success">Search</button>
    </div>

    </form>

    {% include 'includes/students_table.html' %}

{% endblock %}
